html {
  background-image: url("../public/start-up.jpg");
  background-size: cover;

  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}
.leaderboard-container {
  width: 100%;
  min-width: 0;
  max-height: 30vh;
  overflow-y: auto;
}

.leaderboard-wrapper {
  padding: 0;
  width: 100%;
  overflow-x: auto;
}

.leaderboard-table {
  margin: 0 auto;

  white-space: nowrap;
  width: auto;
  font-size: clamp(1rem, 2vw, 2rem);
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
  table-layout: auto;
}
.leader-table-head {
  text-decoration: underline;
}
td,
th {
  padding: 0 1vw;
  white-space: nowrap;
  max-width: 20%;
  word-wrap: normal;
  word-break: normal;
}

.game-over-message-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.game-over-message {
  background-color: #fff;
  color: #000;
  padding: 30px 60px;
  border-radius: 12px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #1c91a1;
}
.countdown {
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  min-width: 250px;
  max-width: 400px;
  width: 30vw;
  margin: auto;
  font-size: clamp(2rem, 5vw, 6rem);
  border-radius: 12px;
  text-align: center;
  box-sizing: border-box;
  font-size: 6rem;
  overflow-wrap: break-word;
}
.countdown-video {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 992px) {
  .countdown-video .youtube-player {
    height: 40vh;
    width: 100%;
    margin-top: 3rem;
  }
}
.game-over {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 1rem;
  color: white;
  max-width: 60%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.welcome-screen {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 1rem;
  color: white;
  max-width: 90%;
  margin: 2rem auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  min-height: 35vh;
  .welcome-label {
    font-size: clamp(1.2rem, 3vw, 2rem);
  }
  .welcome-input {
    width: 60%;
    font-size: clamp(1rem, 2vw, 25px);
  }
  .welcome-form {
    display: flex;
    justify-content: center;
    gap: 1vw;
    margin-bottom: 2vw;
  }
  .error-message {
    font-size: 1.2rem;
  }
}
.button {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  border: 1px solid black !important;
  border-radius: 10px !important;
  transform: scale(1.6);
  margin-bottom: 20px;
  background-color: #1c91a1;
}
.button:hover {
  cursor: pointer;
  background-color: #0fa2b5;
}
.game-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  width: 70vw;
  height: 100vh;
  box-sizing: border-box;
  padding: clamp(0.5rem, 2vw, 3rem);
}

@media (max-width: 992px) {
  .game-page {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
    padding: 0.5rem;
    height: auto;
  }
}

.cards-div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  max-width: 90vw;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
  padding: 1rem;
}
.time-left {
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  color: white;
  max-width: 800px;
  box-shadow: 0 0 15px rgba(138, 67, 67, 0.3);
  max-height: 100px;
  min-width: 200px;
  text-align: center;
  padding: 2vh 1vw;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  gap: 50px;
  max-width: 90%;
}
.youtube-player {
  width: 30vw;
  height: 30vw;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.time-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  max-width: 100%;
  justify-content: center;
  gap: 2vw;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  gap: 1.5%;
  flex-grow: 1;
  box-sizing: border-box;
  padding-left: 0;
}
.card {
  width: 100%;
  color: #e2e8f0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease,
    box-shadow 0.3s ease;
  font-size: 1.2em;
  font-weight: bold;
  user-select: none; /* Prevent text selection */
  transform-style: preserve-3d; /* Allows children to be positioned in 3D space */
  perspective: 1000px; /* Defines the 3D viewing perspective */
}
.card-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Front face (face down) */
.card-front {
  background-color: #15c0d6;
  color: #e2e8f0;
}

/* Back face (face up) */
.card-back {
  background-color: #b0eff7;
  color: #2d3748;
  transform: rotateY(180deg); /* Initially rotated to be the back face */
  white-space: normal;
}

/* When the parent .card has .card-flipped, rotate the inner container */
.card-flipped .card-inner {
  transform: rotateY(180deg); /* This is the flip */
}

/* When the card is matched, it should disappear */
.card-matched {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0s 0.5s;
}

.game-video {
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  .game-video {
    flex-direction: column;
    .youtube-player {
      height: 40vh;
      width: 100%;
    }
    .game-page {
      width: 100%;
    }
  }
}

.welcome-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  .youtube-player {
    height: 40vh;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .welcome-video .youtube-player {
    width: 100%;
    height: 40vh;
  }
}

.over-video {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 992px) {
  .over-video {
    flex-direction: column;
    align-items: center;
  }
  .over-video .youtube-player {
    width: 100%;
    height: 40vh;
  }
}
