* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: url("../public/start-up.jpg");
  background-size: cover;

  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}
.leaderboard-container {
  width: 100%;
  min-width: 0;
  max-height: 30vh;
  overflow-y: auto;
}

.leaderboard-wrapper {
  padding: 0;
  width: 100%;
  overflow-x: auto;
}

.leaderboard-table {
  margin: 0 auto;

  white-space: nowrap;
  width: auto;
  font-size: clamp(1rem, 2vw, 2rem);
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
  table-layout: auto;
}
.leader-table-head {
  text-decoration: underline;
}
td,
th {
  padding: 0 1vw;
  white-space: nowrap;
  max-width: 20%;
  word-wrap: normal;
  word-break: normal;
}

.game-over-message-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.game-over-message {
  background-color: #fff;
  color: #000;
  padding: 30px 60px;
  border-radius: 12px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #1c91a1;
}
.countdown {
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 50vw;
  font-size: clamp(2rem, 5vw, 6rem);
  border-radius: 12px;
  text-align: center;
  box-sizing: border-box;
  font-size: 6rem;
  overflow-wrap: break-word;
}
.countdown-video {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  .youtube-player {
    width: 30vw;
    height: 40vh;
  }
}
@media (max-width: 576px) {
  .countdown-video .youtube-player {
    height: 40vh;
    width: 100%;
    margin-top: 3rem;
  }
}

.game-over {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 1rem;
  color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.welcome-screen {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 1rem;
  color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  height: 28vh;
  width: 50vw;
  height: 30vh;
  .welcome-label {
    font-size: clamp(1.2rem, 3vw, 2rem);
  }
  .welcome-input {
    width: 60%;
    font-size: clamp(1rem, 2vw, 25px);
  }
  .welcome-form {
    display: flex;
    justify-content: center;
    gap: 1vw;
    margin-bottom: 2vw;
    padding: 1rem;
  }
  .error-message {
    font-size: 1.2rem;
  }
}
.button {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  border: 1px solid black !important;
  border-radius: 10px !important;
  transform: scale(1.6);
  padding: 0.2rem;
  background-color: #1c91a1;
}
.button:hover {
  cursor: pointer;
  background-color: #0fa2b5;
}
.game-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: clamp(0.5rem, 2vw, 3rem);
}

@media (max-width: 576px) {
  .game-page {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
    padding: 0.5rem;
    height: auto;
  }
}

.cards-div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  max-width: 90vw;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
  padding: 1rem;
}
.time-left {
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  color: white;
  max-width: 40vw;
  box-shadow: 0 0 15px rgba(138, 67, 67, 0.3);
  max-height: 10vh;
  min-width: 20vw;
  text-align: center;
  padding: 2vh 1vw;
  font-size: clamp(1rem, 4vw, 2.5rem);
  gap: 50px;
}

.time-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  max-width: 100%;
  justify-content: center;
  gap: 2vw;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  gap: 1.5%;
  flex-grow: 1;
  box-sizing: border-box;
  padding-left: 0;
}
.card {
  width: 100%;
  color: #e2e8f0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease,
    box-shadow 0.3s ease;
  font-size: 1.2em;
  font-weight: bold;
  user-select: none; /* Prevent text selection */
  transform-style: preserve-3d; /* Allows children to be positioned in 3D space */
  perspective: 1000px; /* Defines the 3D viewing perspective */
}
.card-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Front face (face down) */
.card-front {
  background-color: #15c0d6;
  color: #e2e8f0;
}

/* Back face (face up) */
.card-back {
  background-color: #b0eff7;
  color: #2d3748;
  transform: rotateY(180deg); /* Initially rotated to be the back face */
  white-space: normal;
}

/* When the parent .card has .card-flipped, rotate the inner container */
.card-flipped .card-inner {
  transform: rotateY(180deg); /* This is the flip */
}

/* When the card is matched, it should disappear */
.card-matched {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0s 0.5s;
}
.over-video {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  .youtube-player {
    width: 30vw;
    height: 40vh;
  }
}

.game-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  .game-page {
    .cards-div {
      width: 40vw;
    }
  }
  .youtube-player {
    width: 30vw;
    height: 40vh;
  }
}

.welcome-video {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  .youtube-player {
    width: 30vw;
    height: 40vh;
  }
}

@media (max-width: 1200px) {
  .welcome-screen {
    width: 60vw;
    min-height: 40vh;
  }
  .welcome-video .youtube-player {
    width: 40vw;
    height: 40vh;
  }

  .countdown {
    width: 60vw;
    height: 40vh;
  }
  .countdown-video .youtube-player {
    width: 40vw;
    height: 40vh;
  }
  .button {
    padding: 0.2rem;
  }
  .game-page {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .game-video .youtube-player {
    width: 40vw;
    height: 40vh;
  }
  .over-video {
    height: 100vh;
  }
  .over-video .youtube-player {
    width: 40vw;
    height: 40vh;
  }

  .time-left {
    height: 30vh;
    width: 25vw;
  }
  .cards-grid {
    width: 40vw;
    height: 70vh;
  }
  .leaderboard-container h2 {
    padding: 0.7rem;
  }
}
@media (max-width: 992px) {
  .button {
    padding: 0.3rem;
  }
  .welcome-screen {
    width: 60vw;
    height: 25vh;
    display: flex;
    justify-content: space-around;
  }
  .welcome-video .youtube-player {
    width: 80vw;
    height: 40vh;
  }
  .countdown {
    width: 60vw;
    height: 25vh;
  }
  .countdown-video .youtube-player {
    width: 80vw;
    height: 40vh;
  }

  .game-page {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .game-video .youtube-player {
    width: 80vw;
    height: 40vh;
  }

  .time-left {
    height: 30vh;
    font-size: 1.3rem;
  }
  .cards-grid {
    width: 60vw;
    height: 70vh;
  }
  .game-over {
    width: 40vw;
  }
  .leaderboard-container h2 {
    padding: 0.9rem;
  }
  .leaderboard-table {
    font-size: 1.5rem;
  }
  .over-video .youtube-player {
    width: 80vw;
    height: 40vh;
  }
}

@media (max-width: 768px) {
  .button {
    padding: 0.3rem;
  }
  .welcome-screen {
    width: 80vw;
    min-height: 26vh;
    display: flex;
    justify-content: space-around;
  }
  .welcome-screen form {
    height: 20vh;
  }
  .welcome-video .youtube-player {
    width: 60vw;
    height: 30vh;
  }
  .countdown {
    width: 60vw;
    height: 26vh;
  }
  .game-video {
    width: 100vw;
    align-items: center;
  }
  .countdown-video .youtube-player {
    width: 60vw;
    height: 30vh;
  }

  .game-page {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .game-video .youtube-player {
    width: 60vw;
    height: 30vh;
  }

  .time-left {
    height: 30vh;
  }
  .cards-grid {
    width: 60vw;
    height: 70vh;
  }
  .game-over {
    width: 40vw;
  }
  .leaderboard-container h2 {
    padding: 0.9rem;
  }
  .leaderboard-table {
    font-size: 1.5rem;
  }

  .over-video .youtube-player {
    width: 60vw;
    height: 30vh;
  }
}

@media (max-width: 576px) {
  .button {
    padding: 0.1rem;
  }
  .welcome-screen {
    width: 90vw;
    height: 40vh;
    display: flex;
    justify-content: space-around;
  }

  .welcome-video .youtube-player {
    width: 60vw;
    height: 30vh;
  }
  .countdown {
    width: 60vw;
    height: 25vh;
  }
  .countdown-video .youtube-player {
    width: 60vw;
    height: 30vh;
  }

  .game-page {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .game-video .youtube-player {
    width: 60vw;
    height: 20vh;
  }

  .time-video .time-left {
    min-height: 15vh;
  }
  .cards-grid {
    width: 60vw;
    height: 70vh;
  }
  .game-over {
    width: 90vw;
  }
  .leaderboard-container h2 {
    padding: 0.9rem;
  }
  .leaderboard-table {
    font-size: 1.5rem;
  }

  .over-video .youtube-player {
    width: 60vw;
    height: 30vh;
  }
}
